body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

#logo {
    position: relative;
    text-align: center;
}

#logo-container {
    position: relative;
    text-align: center;
}

#logo-img {
    width: 200px; 
}

#buttons {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttons button {
    position: absolute;
    background: none;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#back {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    color: #fff;
    border: 2px solid #fff;
    background: none;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    display: none;
    /* Add these lines to remove default styling */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#contact {
    top: 20%; /* Adjust these percentages to move the buttons closer or farther from the center */
}

#projects {
    bottom: 20%;
    left: 20%;
}

#awards {
    bottom: 20%;
    right: 20%;
}

#contact-content,
#projects-content,
#awards-content {
  display: none;
  /* Add any additional styling for these sections here */
}

.project {
    color: white;
}
